@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
  background-color: black;
  font-family: 'Poppins'; 
}
*{
 
  box-sizing: border-box;
  font-smooth: always;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
}
.light{
  background: radial-gradient(circle,white,black);
}
.crazyText{
  font-family: "Archivo Black", sans-serif;
}